.file-preview-frame {
    margin-bottom: 20px;
}

.spinner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.success-message {
    display: none;
    margin: 5px 0;
}

.bootbox-success .bootbox-body {
    color: #3c763d;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(198, 197, 200, 0.4);
    display: none;
}

.spinner-loader {
    position: absolute;
    top: 40%;
    left: 50%;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

div#user-auth_role label {
    margin-right: 8px;
}

.content {
    overflow: auto;
}